[Unit]
Description=Support frontend website in react
After=network.target

[Service]
User=root
WorkingDirectory=/home/servers/frontend
Environment=NODE_ENV=production
ExecStart=/usr/local/bin/serve -l 3000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target